{% extends 'super_admin_base.html' %}

{% block title %}
Add New Shop
{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="content-wrapper">

    
        <section class="content">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-12">
                        <p class="content_heading">Add New Shop</h3>
                    </div>

                    
                </div> 

                <div class="com-md-12 d-flex flex-row justify-content-center">
                    <div class="col-lg-4 col-md-5 col-sm-6">
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger col-md-5 col-lg-4 col-sm-6 alert-dismissable">
                                    <a href="#" class="close" data-dismiss='alert' aria-label='close'>&times;</a>
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger alert-dismissable">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                    </div>
                </div>

                <div class="col-md-12 d-flex flex-row justify-content-center">  
                    <div class="col-md-10 col-lg-10 col-sm-12 new_entry_form p-5 pt-4 shadow form-content">

                        <form method="post" action="">
                            {% csrf_token %}

                    <div class="row">
                        <div class="col-md-10 p-3">
                            <div class="form-group row">
                                <div class="col-lg-4 col-md-4 m-0 p-0 ml-4">
                                    <label for="name" class=" col-form-label">*Shop Name :</label>
                                </div>
                                
                                <div class="col-lg-7 col-md-7 m-0 p-0">
                                    <input type="text" name="first_name" class="form-control" id="first_name" placeholder="shop name"/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-lg-4 col-md-4 m-0 p-0 ml-4">
                                    <label for="phone" class=" col-form-label">Phone Number :</label>
                                </div>
                               
                                <div class="col-lg-7 col-md-7 m-0 p-0">
                                    <input type="text" name="phone" class="form-control" id="phone" placeholder="phone no"/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-lg-4 col-md-4 m-0 p-0 ml-4">
                                    <label for="shop owner name" class=" col-form-label">Shop Owner Name :</label>
                                </div>
                                
                                <div class="col-lg-7 col-md-7 m-0 p-0">
                                    <input type="text" name="shop_owner_name" class="form-control" id="owner_name" placeholder="Shop name"/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-lg-4 col-md-4 m-0 p-0 ml-4">
                                    <label for="shop_owner_number" class=" col-form-label">Shop Owner Number :</label>
                                </div>
                                
                                <div class="col-lg-7 col-md-7 m-0 p-0">
                                    <input type="text" name="shop_owner_phone" class="form-control" id="owner_number" placeholder="Shop owner number"/>
                                </div>
                            </div>

                            
                            <div class="form-group row">
                                <div class="col-lg-4 col-md-4 m-0 p-0 ml-4">
                                    <label for="shop_address" class=" col-form-label">Shop Address :</label>
                                </div>
                                
                                <div class="col-lg-7 col-md-7 m-0 p-0">
                                    <input type="text" name="shop_address" class="form-control" id="address" placeholder="shop address"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-4 col-md-4 m-0 p-0 ml-4">
                                    <label for="email" class=" col-form-label">*Email :</label>
                                </div>
                                
                                <div class="col-lg-7 col-md-7 m-0 p-0">
                                    <input type="email" name="email" class="form-control" id="email" placeholder="email"/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-lg-4 col-md-4 m-0 p-0 ml-4">
                                    <label for="password" class="col-form-label">*Password :</label>
                                </div>
                                
                                <div class="col-lg-7 col-md-7 m-0 p-0">
                                    <input type="password" name="password"  class="form-control" id="password" placeholder="password"/>
                                </div>
                            </div>
                            
                            
                        </div>  
                    </div> 

                    <div class="form-row text-center">
                        <div class="col-12">
                            <div class="">
                                
                                <button type="submit" class="btn btn-outline-dark col-md-4 col-lg-4">Save</button>
                            </div> 
                        </div>  <!--/.col -->
                    </div> 
                </form>

                    </div> 
                </div> 
                
            </div>  <!-- /.container-fluid -->
        </section>   <!-- /.content -->
    </div>   <!-- /.content-wrapper -->
</div>
{% endblock %}