{% extends 'super_admin_base.html' %}

{% block title %}
Add New Shop
{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="content-wrapper">
        <section class="content">
            <div class="cls1">
                <div class="col-12">
                    <div class="">
                        <div class="">
                            <div class="row">
                            
                            
                            <div class="col-md-12">
                              <p class="content_heading">List of Shops</p>
                          </div>
                            </div>  
                        </div>  
      
                        <div class="">
                            <div class="row col-md-12 p-0 m-0 d-flex flex-row justify-content-center">
                              <!-- Search form -->
                              <div class="active-cyan-4 mb-2 col-md-4 col-lg-3 col-sm-4 col-8 ml-0">
                                <form class="d-flex flex-row" method="get" action="#">
                                  <input class="form-control" type="text" placeholder="Search shop" aria-label="Search" name="shop_search_parameter">
                                  <button type="submit" class="btn btn-info">Search</button>
                                </form>
                              </div>
                              <div class="col-md-9 col-lg-9 col-sm-4 col-8 float-right mr-0">
                                <button type="submit" class="btn btn-secondary active float-right">
                                    <a href="#" style="color:white;">+ Add New shop</a></button>
                              </div>
                              <div class="row col-lg-12 col-md-12 col-sm-12 col-12 justify-content-center">
                                <table id="shop_list" class="table table-borderless table-hover col-auto col-md-12 table-responsive table-striped">
                                  <thead class="">
                                      <tr>
                                          <th>Shop name</th>
                                          <th>Shop Phone Number</th>
                                          <th>Shop Address</th>
                                          <th>Shop Type</th>
                                          <th>Shop Owner Name</th>
                                          <th>Shop Owner Phone</th>
                                          <th>Email</th>
                                          <th>Active Status</th>
                                      </tr>
                                  </thead>
        
                                  <tbody class="">
                                      
                                      {% for shop in all_shop %}
                                      <tr>
                                        
                                        <td>{{ shop.shop.first_name }}</td>
                                        <td>{{ shop.phone }}</td>
                                        <td>{{ shop.shop_address }}</td>
                                        <td>{{ shop.shop_type }}</td>
                                        <td>{{ shop.shop_owner_name }}</td>
                                        <td>{{ shop.shop_owner_phone }}</td>
                                        <td>{{ shop.shop.email }}</td>
                                        {% if shop.shop.is_active == True %}
                                            <td><input type="checkbox" id="{{ shop.info.id }}" name="" value="" checked ></td>
                                        {% else %}
                                            <td><input type="checkbox" id="{{ shop.info.id }}" name="" value="" ></td>
                                        {% endif %}
                                        
                                        <!-- <td>
                                          <input type="checkbox" id="{{ shop.info.id }}" name="" value="" onchange="showConfirmButtons(this)"
                                           {% if shop.info.is_active %} checked {% endif %}
                                          >
                                          
                                          <div id="id{{shop.info.id}}" style="display: none;">
                                            <button class="btn btn-danger" onclick="confirmChangeshop('{{ shop.info.id }}')">Yes</button>
                                            <button class="btn btn-primary" onclick="cancelChange('{{ shop.info.id }}')">No</button>
                                          </div>
                                        </td> -->
                                        
      
                                        <!-- <td class="">    
                                            <a href="{{ shop.info.get_absolute_url }}">
                                                <button class="btn btn-secondary" style="font-size:12px;">
                                                  View Details
                                                </button></a>
                                        </td> -->
                                    </tr>
                                    {% endfor %}
                                  </tbody>
                              </table>  
                            </div>

                              
                          </div>    
                        </div> 
                    </div> 
                </div>  <!-- /.col -->
            </div>  <!-- /.row -->
        </section>  <!-- /.content -->
    
       
    </div>
</div>
{% endblock %}