{% extends 'super_admin_base.html' %}

{% block title %}
Add New Shop
{% endblock %}

{% block content %}
<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-5 col-sm-11">
            <div>
                <h2>All Product Type</h2>
                
                {% for product_type in all_product_type %}
                    <div class="row">
                        <p>{{ product_type.type_name }}</p>
                        <a class="btn btn-secondary float-right" href="{% url 'super_admin:delete_product_type' id=product_type.id %}">Delete</a>
                    </div>
                {% endfor %}
                
            </div>
    
            <div>
                <h2>Add product Type</h2>
    
                <form method="POST"> {% csrf_token %}
                {{ product_type_form.as_p }}
                <input type="submit", value="save" />
                </form>
            </div>
        
        </div>
    
        <div class="col-lg-5 col-md-5 col-sm-11">
            <div>
                <h2>All Product Brand</h2>
               
                {% for brand in all_brand %}
                <div class="row">
                    <p>{{ brand.brand_name }}</p>
                    <a class="btn btn-secondary float-right" href="{% url 'super_admin:delete_brand' id=brand.id %}">Delete</a>
                </div>
                {% endfor %}
               
            </div>
    
            <div>
                <h2>Add New Brand</h2>
    
                <form method="POST"> {% csrf_token %}
                    {{ product_brand_form.as_p }}
                    <input type="submit", value="save" />
                </form>
            </div>
        
        </div>
    
    </div>
</div>


{% endblock %}