{% extends 'base.html' %}

{% block title %}
Meditech Admin Register
{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="content-wrapper">

    <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    
                    <!-- <div class="col-md-12">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#" style="color:#4C4A4A;">MediTech Dashboard</a></li>
                            <li class="breadcrumb-item active"><a href="#" style="color:#4C4A4A;">List of Clients</a></li>
                            <li class="breadcrumb-item active">Add New Client</li>
                        </ol>
                    </div> -->
                    <div class="col-md-12">
                        <p class="content_heading">Add Meditech Admin</h3>
                    </div>

                    <!-- <div class="col-sm-6 float-right">
                                    <button type="submit" class="btn btn-secondary active float-right">
                            <a href="#" style="color:white;">+ Add Another</a></button>
                    </div>   -->
                </div> 

                <div class="com-md-12 d-flex flex-row justify-content-center">
                    <div class="col-lg-4 col-md-5 col-sm-6">
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger col-md-5 col-lg-4 col-sm-6 alert-dismissable">
                                    <a href="#" class="close" data-dismiss='alert' aria-label='close'>&times;</a>
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger alert-dismissable">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                    </div>
                </div>

                <div class="col-md-12 d-flex flex-row justify-content-center">  
                    <div class="col-md-10 new_entry_form p-3">

                        <form method="post" action="">
                            {% csrf_token %}

                    <div class="row">
                        <div class="col-md-10 offset-2">
                            <div class="form-group row">
                                <label for="name" class=" col-form-label">*First Name :</label>
                                <div class="col-md-8">
                                    <input type="text" name="first_name" class="form-control" id="first_name" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="name" class=" col-form-label">Last Name :</label>
                                <div class="col-md-8">
                                    <input type="text" name="last_name" class="form-control" id="last_name" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="email" class=" col-form-label">*Email Address :</label>
                                <div class="col-md-8">
                                    <input type="email" name="email" class="form-control" id="email" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-form-label">*Password :</label>
                                <div class="col-md-8">
                                    <input type="password" name="password1"  class="form-control" id="password1" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="password" class="col-form-label">Confirm Password :</label>
                                <div class="col-md-8">
                                    <input type="password" name="password2" class="form-control" id="password2" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="phone" class=" col-form-label">Phone Number :</label>
                                <div class="col-md-8">
                                    <input type="phone" name="phone" class="phone" class="form-control" id="phone" />
                                </div>
                            </div>
                        </div>  
                    </div> 

                    <div class="form-row text-center">
                        <div class="col-12">
                            <div class="">
                                
                                <button type="submit" class="btn btn-success">Save</button>
                            </div> 
                        </div>  <!--/.col -->
                    </div> 
                </form>

                    </div> 
                </div> 
                
            </div>  <!-- /.container-fluid -->
        </section>   <!-- /.content -->
    </div>   <!-- /.content-wrapper -->
</div>
{% endblock %}