.navbar{
    background-color: black;
    padding-right: 13%!important;
    padding-left: 13%!important;
    height: 34px;
}

.second-navebar{
    background-color: rgb(241, 241, 241);
    padding-right: 13%!important;
    padding-left: 13%!important;
    height: 71px;
}

.second-nav-item{
    background-color: rgb(255, 0, 0, .7);
}

.shop-second-nav-item{
    background-color: rgb(255, 255, 255);
    margin-right: 30px;
    margin-left: 0px;
    margin-top: 3px;
    height: 33px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.shop-second-nav-item:after{
    content: '';
    display: block;
    margin: 0px auto 1px;
    height: 0px;
    width: 100%;
    border-bottom: solid 2px rgb(255, 36, 36, 81%);
    opacity: 1;
    text-align: center;
}
.shop-second-nav-item a{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: rgb(24, 24, 24)!important;
    text-transform: uppercase;
}
.second-navebar-nav a{
    letter-spacing: 3px;
    text-decoration: none;
    color: rgb(255, 242, 242);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.custom-dropdown-menu{
    left: 13%;
    border-radius: 0px;
    margin-top: -1px;
    margin-left: -1px;
    width: 310px;
    height: 400px;
    border: 0px;
    overflow: auto;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(150, 150, 150); 
  }

.custom-dropdown-menu a{
    color: darkgray;
    font-weight: normal;
    padding: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    letter-spacing: 1px;
    color: rgb(70, 70, 70);
    
}
.login_link{
    color: rgb(255, 255, 255);
    background-color: rgb(34, 34, 34);
    padding: 3px;
    padding-left: 25px!important;
    padding-right: 25px!important;
    margin-bottom: 5px;
    margin-top: 0px;
    font-family: Helvetica, sans-serif;
    border-radius: 2px;
}
.carousel-inner{
    max-height: 399px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.carousel-item{
    text-align: center;
}
.carousel{
    padding-left: 13%;
    padding-right: 13%;
    background-color: rgb(175, 116, 116);
}
.center {
    width: 100%;
    display: block;
    margin: 0 auto;
}
.login_link:hover{
    color: rgb(55, 55, 55)!important;
    background-color: rgb(255, 255, 255)!important;
    text-decoration: none;
    transition: 0.7s;
}

.top-search-bar{
    padding: 10px;
    background-color: rgba(222, 222, 222, 0.0);
    border-radius: 0px;
    top: 2px;
    left: 170px
}

.top-search-field{
    background-color: rgba(255, 255, 255, 0.9);
    border: solid 3px #ef7e7e!important;
}

#carouselExampleIndicators{
    position:relative;
}

div.top-search {
    position: absolute;
    z-index: 9999999;
    top: -12px;
    left: 15px;
    right: auto;
    bottom: auto;
}


.top-search-button{
    border: solid 2px rgb(255, 0, 0, .7)!important;
}

.top-search-button:hover{
    background-color: rgb(255, 0, 0, .7)!important;
}

.top-search-button i:hover{
    background-color: rgba(255, 161, 161, 0.7)!important;
    color: rgb(255, 255, 255)!important;
}

.product-search-heading h4{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 26px;
    letter-spacing: 4px;
    color: #2f2f2f;
}

.product-search-heading::after{
    content: '';
    display: block;
    margin: 7px auto 14px;
    height: 2px;
    width: 140px;
    border-bottom: solid 3px rgb(255, 0, 0, .7);
    opacity: 1;
    text-align: center;
}

input{
    width: 100px;
}
label{
    font-weight: bold;
}
.page_heading{
    text-align: left;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: x-large;
    text-transform: uppercase;
    line-height: 1.2;
    color: #555;
    letter-spacing: 0.07em;

}

.page_heading:after{
    content: "";
    color: cornflowerblue;
    width: 20px;
    text-decoration: underline;
}
.new_entry_form{
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
}

.new_entry_form label {
    color:#395858!important;
    font-weight: normal;
    font-family: sans-serif;
}
.form-content{
    padding-top: 3%;
    box-shadow: 200px;
    border-radius: 24px;
}

.form-content
{
    padding: 2%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
    border-radius: 20px;
}
.form-control{
    border-radius: 5px;
}
.form-group{
    display: flex;
    margin-bottom: 10px!important;
}

.col-form-label{
    display: contents;
    font-family: sans-serif;
    font-size: medium;
}

.new_entry_form{
    background-color: rgba(255, 255, 255, 0.555);
    border-radius: 45px 4px 45px 4px;
}
.new_entry_form label {
    color:#395858!important;
    font-weight: normal;
    font-family: sans-serif;
}

.content_heading{
    text-align: center;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: x-large;
    text-transform: uppercase;
    line-height: 1.2;
    color: #555;
    letter-spacing: 0.07em;
}

.login .login-form,
.login .register-form {
    padding: 30px;
    background: #633a3a;
    margin-bottom: 30px;
}

#login .container #login-row #login-column #login-box {
    margin-top: -4px;
    max-width: 600px;
    height: 370px;
    background-color: rgba(22, 21, 21, 0.555);
    border-radius: 28px;
    }
    #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
    }
    #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
    }

.custom-checkbox {
    margin-bottom: 15px;
}
.custom-radio .custom-control-label::before,
.custom-checkbox .custom-control-label::before {
    background: #dddddd;
    border-color: #dddddd;
}

.custom-radio .custom-control-input:checked~.custom-control-label::before,
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    color: #ffffff;
    background: #FF6F61;
    border-color: #FF6F61;
    box-shadow: none;
}

.btn {
    color: #2c2c2c;
    background: #ffffff;
    border: 1px solid #FF6F61;
}
.form-control,
.custom-select {
    width: 100%;
    height: 35px;
    padding: 0 15px;
    color: #999999;
    border: 1px solid #dddddd;
    margin-bottom: 15px
}

/* all products.............. */

.breadcrumb-wrap {
    position: relative;
    width: 100%;
}

.breadcrumb-wrap .breadcrumb {
    margin: 0;
    padding: 0;
    background: transparent;
}




/**********************************/
/******** Product View CSS ********/
/**********************************/

/* custom table ****************/

th{
    font-family: Calibri;
    font-weight: lighter;
    font-size: 17px;
    text-transform: uppercase;
    
    /* border: solid 1px #ffffff; */
}
td{
    font-family: Calibri, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0..7em;
    color:rgb(63, 70, 79);
    /* border: solid 1px  #ffffff; */
}

table {
    width: 100% !important;
    display: table!important;
  }


thead{
    min-width: 100% !important;
    /* border: solid 1px #ffffff; */
    background-color: #107561;
}

table{
    border-collapse: collapse!important;
    border-radius: 5px!important;
    overflow: hidden!important;
    }

.table th{
    
    margin: 0px;
    padding: 3px;
    padding-left: 10px!important;
    color: rgb(7, 7, 7);
}

.table td{
    
    margin: 0px;
    padding: 3px;
    padding-left: 10px!important;
    
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #f4fbff;
 }

tbody{
    min-width: 100% !important;
    /* border: solid 1px  #ffffff; */
}


/* custom table ****************/

.custom-table{
    width: 100%!important;
    display: table!important;
}

.search_form_shop_account_input{
    margin: 3px 10px 3px 5px;
    padding-left: 5px!important;
    padding-right: 5px!important;
    width: 30%!important;
    display: inline-block!important;
    font-size: small!important;
}

.search_form_shop_account_label{
    padding: 10px 10px 3px 0px;
    width: max-content!important;
    display: inline-block!important;
}

.product-search_form_shop_account_label{
    margin: 3px 10px 3px 5px;
    padding-left: 5px!important;
    padding-right: 5px!important;
    width: 70%!important;
    display: inline-block!important;
    font-size: small!important;
}

.product_quantity_input{
    display: inline;
    width: 43px;
}

.product-type-brand{
    padding-right: 13%!important;
    padding-left: 13%!important;
    
}

.product-type-list-add, .product-brand-list-add{
    padding: 30px 00px 30px 0px;
    margin: 0px 3% 0px 3%;
    width: 44%;
}

.product-type-list-add-inner,  .product-brand-list-add-inner{

    width: 100%;
    padding-top: 30px;
}

.product-brand-list, .product-type-list{
    display: inline-block;
}
.product-view {
    position: relative;
    width: 100%;
    padding: 0px 0px!important;
    background-color: #ffffff;
}


.product-view .product-search {
    position: relative;
    width: 100%;
}

.product-view .product-search input, .product-view .product-search select {
    width: 100%;
    height: 40px;
    padding: 0 15px;
    color: #313131;
    background: transparent;
    border: 1px solid #d5a0a0;
    border-radius: 4px;
    transition: all .3s;
    background-color: #ffe2e2;
    font-weight: 500;
    font-size: large;
    letter-spacing: 1px;
}


.product-view .product-search input:focus {
    border-color: #FF6F61;
}

.product-view .product-search button {
    position: absolute;
    width: 35px;
    height: 36px;
    top: 2px;
    right: 2px;
    text-align: center;
    background: transparent;
    color: #353535;
    border: none;
    border-radius: 0 4px 4px 0;
    transition: all .3s;
}

.product-view .product-search button i {
    font-size: 19px;
    height: 24px;
    color: brown;
    width: 22px;
}

.product-view .product-search button:hover {
    background: #FF6F61;
    color: #ffffff;
}

.product-view .product-short,
.product-view .product-price-range {
    position: relative;
    width: 100%;
    text-align: right;
}

.product-view .product-short .dropdown .dropdown-toggle,
.product-view .product-price-range .dropdown .dropdown-toggle {
    display: block;
    width: 100%;
    height: 35px;
    padding: 5px 10px;
    background: transparent;
    border: 1px solid #353535;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s;
}

.product-view .product-short .dropdown .dropdown-toggle:hover,
.product-view .product-price-range .dropdown .dropdown-toggle:hover {
    color: #FF6F61;
    border-color: #FF6F61;
}

.product-view .product-short .dropdown .dropdown-toggle::after,
.product-view .product-price-range .dropdown .dropdown-toggle::after {
    float: right;
    margin-top: 10px;
}

.product-view .product-short .dropdown-menu,
.product-view .product-price-range .dropdown-menu {
    margin: -1px 0 0 0;
    border-radius: 0;
}

.product-view .product-item {
    margin-bottom: 14px;
}

.product-view .pagination {
    margin: 0;
}

.product-view .pagination .page-item .page-link {
    color: #353535;
    background: transparent;
    border-color: #353535;
}

.product-view .pagination .page-item:hover .page-link,
.product-view .pagination .page-item.active .page-link {
    color: #FF6F61;
    background: #000000;
}

@media (max-width: 991.98px) {
    .product-view .pagination {
        margin-bottom: 30px;
    }
}


/**********************************/
/******* Product Detail CSS *******/
/**********************************/


/**********************************/
/*********** Feature CSS **********/
/**********************************/
.feature {
    position: relative;
}

.feature .feature-col {
    margin-bottom: 30px;
}

.feature .feature-content {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 30px 15px;
    text-align: center;
    background: #ffffff;
}

.feature .feature-content i {
    color: #FF6F61;
    font-size: 60px;
    margin-bottom: 30px;
}

.feature .feature-content h2 {
    font-size: 18px;
}

.feature .feature-content p {
    font-size: 15px;
    margin: 0;
}


/**********************************/
/******** Product Item CSS ********/
/**********************************/
.product-item {
    position: relative;
}

.product-item .product-title {
    padding: 0px!important;
    text-align: center;
    background: #ffffff;
    transition: all .3s;
}

.product-item:hover .product-title {
    background: #ffffff;
}

.product-item .product-title a, .product-item .product-title .product-type,
.product-item .product-title .ratting {
    position: relative;
    width: 100%;
}

.product-item .product-title p{
    margin-bottom: 0px ;
    color: rgb(97, 97, 97);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.product-item .product-title a {
    margin-bottom: 5px;
    color: #1c1c1c;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.product-item .product-title .ratting i {
    font-size: 14px;
    color: #FF6F61;
}

.product-item .product-content .price span {
    margin-left: 12px;
    text-decoration: line-through;
    font-weight: 700;
    color: #999999;
}

.product-item:hover .product-title a,
.product-item:hover .product-title .ratting i {
    color: #383838;
}

.product-item:hover .product-content .price span {
    color: #dddddd;
}

.product-item .product-image {
    position: relative;
    overflow: hidden;
}

.product-image:after{
    content: '';
    display: block;
    margin: 0px auto 14px;
    height: 1px;
    width: 83%;
    border-bottom: solid 2px rgba(226, 93, 93, 0.809);
    opacity: 1;
    text-align: center;
}

.product-item .product-image a {
    display: block;
    background: #ffffff;
    transition: .3s;
}

.product-item .product-image img {
    width: 80%; 
    transition: all .3s;
}

.product-item:hover .product-image img {
    transform: scale(1.2);
}

.product-item .product-image .product-action {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 111, 97, .5);
    transition: all .3s;
    font-size: 0;
    z-index: 1;
    opacity: 0;
}

.product-item:hover .product-image .product-action {
    opacity: 1; 
}

.product-item .product-image .product-action a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    padding: 7px 0 10px 0;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    background: #808080;
    border: 1px solid #ffffff;
    border-radius: 4px;
    transition: all .3s;
    margin-top: 50px;
}

.product-item:hover .product-image .product-action a {
    margin-top: 0;
}

.product-item .product-image .product-action a:last-child {
    margin-right: 0;
}

.product-item .product-image .product-action a:hover {
    color: #ffffff;
    background: #929292;
    border: 1px solid #FF6F61;
}
.product-list-image{
    text-align: center;
}
.product-item .product-price {
    padding: 0px 25px 0px 25px!important;
    background: #ffffff;
    transition: all .3s;
}

.product-price a{
    padding: 1px 10px 1px 10px;
}
.product-price a:hover{
    color: rgb(34, 34, 34);
}

.product-item:hover .product-price {
    background: #f5f5f5;
}

.product-item .product-price p {
    display: inline-block;
    color: #2b2b2b;
    margin: 0;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.product-item .product-price h3 span {
    font-size: 16px;
}

.product-item .product-price .btn {
    float: right;
    
    color: #000000;
    background: #ffffff00;
}

.product-item:hover .product-price .btn,
.product-item .product-price .btn:hover {
    color: #303030;
    background-color: #ffffff;
}

.product-item .product-price .btn i {
    margin-right: 5px;
}


/**********************************/
/******** Featured Product ********/
/**********************************/
.featured-product {
    position: relative;
    padding: 30px 0;
}

.recent-product {
    position: relative;
    padding: 30px 0;
}

.product .section-header {
    margin-bottom: 30px;
    padding: 20px 30px 15px 30px;
    color: #c4c4c4;
    background: #ffffff;
}

.product .slick-prev,
.product .slick-next {
    top: -75px;
    width: 30px;
    height: 30px;
    z-index: 1;
    transition: .5s;
    color: #FF6F61;
    background: #ffffff;
    border: 1px solid #FF6F61;
    border-radius: 4px;
}

.product .slick-prev {
    left: calc(100% - 120px);
}

.product .slick-next {
    right: 45px;
}

.product .slick-prev:hover,
.product .slick-prev:focus,
.product .slick-next:hover,
.product .slick-next:focus {
    background: #aeaeae;
}

.product .slick-prev::before,
.product .slick-next::before {
    font-family: "Font Awesome 5 Free";
    font-size: 18px;
    font-weight: 900;
    color: #636363;
}

.product .slick-prev::before {
    content: "\f104";
}

.product .slick-next::before {
    content: "\f105";
}

.product .slick-prev:hover::before,
.product .slick-prev:focus::before,
.product .slick-next:hover::before,
.product .slick-next:focus::before {
    color: #ffffff;
}

.product-add-section{
    padding: 2% 4% 2% 4%;
    background-color: rgba(255, 186, 186, 14%);
    border-radius: 5px;
    
}

.product-add-section label{
    padding-top: 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #9e7171;
    min-width: 35%;
    text-transform: uppercase;
    letter-spacing: 1px
}

.product-add-section select, .product-add-section input{
    border: none;
    border-bottom: solid 1px #ff8787;
    border-radius: 0px;
    background-color: rgba(255, 255, 255, 0);
}

/**********************************/
/******** Product View CSS ********/
/**********************************/
.table td{
    padding: 10px!important;
    border-top: none!important;
}

.table th{
    border-top: solid 1px red;
    border-bottom: solid 1px red!important;
    background-color: #ffd4d4;
    
    

}

.product-list-table{
    padding-left: 13%!important;
    padding-right: 13%!important;
    width: 100%;
    display: block;
}

.product-view {
    position: relative;
    width: 100%;
    padding: 30px 0;
}

.product-view .product-view-top {
    padding: 15px;
    margin-bottom: 12px;
    background: #ffffff00;
}

.product-view .product-search {
    position: relative;
    width: 100%;
}


.product-view .product-short,
.product-view .product-price-range {
    position: relative;
    width: 100%;
    text-align: right;
}

.product-view .product-short .dropdown .dropdown-toggle,
.product-view .product-price-range .dropdown .dropdown-toggle {
    display: block;
    width: 100%;
    height: 35px;
    padding: 5px 10px;
    background: transparent;
    border: 1px solid #353535;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s;
}

.product-view .product-short .dropdown .dropdown-toggle:hover,
.product-view .product-price-range .dropdown .dropdown-toggle:hover {
    color: #fcfcfc;
    border-color: #FF6F61;
}

.product-view .product-short .dropdown .dropdown-toggle::after,
.product-view .product-price-range .dropdown .dropdown-toggle::after {
    float: right;
    margin-top: 10px;
}

.product-view .product-short .dropdown-menu,
.product-view .product-price-range .dropdown-menu {
    margin: -1px 0 0 0;
    border-radius: 0;
}


.product-view .pagination {
    margin: 0;
}

.product-view .pagination .page-item .page-link {
    color: #353535;
    background: transparent;
    border-color: #353535;
}

.product-view .pagination .page-item:hover .page-link,
.product-view .pagination .page-item.active .page-link {
    color: #FF6F61;
    background: #000000;
}

@media (max-width: 991.98px) {
    .product-view .pagination {
        margin-bottom: 30px;
    }
}
.product-list-section{
    padding-right: 13%!important;
    padding-left: 13%!important;
}

.all_product_section{
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
}

.product-item{
    border-radius: 10px;
    border: solid 0px rgb(240, 240, 240);
}

.each-product-into-list{
    border-radius: 5px;
}