{% extends 'base.html' %}
{% block title %}
    Modern Shop
{% endblock %}

{% block content %}

    
    <!-- Product List Start -->
    <div class="product-view">
        <div class="container-fluid">
            <div class="row product-list-section justify-content-center">
                <div class="col-lg-12 col-md-12 p-1">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="product-view-top">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="product-search">
                                            <input type="email" value="Search">
                                            <button><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="product-short">
                                            <div class="dropdown">
                                                <div class="dropdown-toggle" data-toggle="dropdown">Product short by</div>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a href="#" class="dropdown-item">Newest</a>
                                                    <a href="#" class="dropdown-item">Popular</a>
                                                    <a href="#" class="dropdown-item">Most sale</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="product-price-range">
                                            <div class="dropdown">
                                                <div class="dropdown-toggle" data-toggle="dropdown">Product price range</div>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a href="#" class="dropdown-item">$0 to $50</a>
                                                    <a href="#" class="dropdown-item">$51 to $100</a>
                                                    <a href="#" class="dropdown-item">$101 to $150</a>
                                                    <a href="#" class="dropdown-item">$151 to $200</a>
                                                    <a href="#" class="dropdown-item">$201 to $250</a>
                                                    <a href="#" class="dropdown-item">$251 to $300</a>
                                                    <a href="#" class="dropdown-item">$301 to $350</a>
                                                    <a href="#" class="dropdown-item">$351 to $400</a>
                                                    <a href="#" class="dropdown-item">$401 to $450</a>
                                                    <a href="#" class="dropdown-item">$451 to $500</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if 'search-product' in request.path %}
                            <div class="col-md-12 product-search-heading">
                                <h4 class="text-uppercase text-center">Search Result</h4>
                            </div>
                        {% else %}
                        <div class="col-md-12 product-search-heading">
                            <h4 class="text-uppercase text-center">All Products</h4>
                        </div>
                        {% endif %}
                        
                            {% for product in all_products %}
                            <div class="col-md-3 p-2 each-product-into-list">

                                
                                
                                <div class="product-item ">
                                   
                                    <div class="product-image">
                                        <a href="product-detail.html">
                                            <div class="product-list-image">
                                                <img src="{{ product.p_image.url }}" alt="Product Image" class="p-4">
                                            </div>
                                            
                                        </a>
                                        
                                    </div>
                                    <div class="product-title p-5">
                                        <a href="#" class="product-name"><p>{{ product.name }}</p></a>
                                        
                                    </div>
                                    <div class="product-price px-5">
                                        <p>{{ product.buying_price }}<span> tk.</span></p>
                                        
                                    </div>
                                </div>
                                
                            </div>
                            {% endfor %}
                        
                        
                    </div>
                    
                    <!-- Pagination Start -->
                    <div class="col-md-12">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- Pagination Start -->
                </div>           
                
                
            </div>
        </div>
    </div>
    <!-- Product List End -->  


{% endblock %}