{% extends 'admin_base.html' %}
{% block title %}
    Modern Shop
{% endblock %}

{% block content %}
<div class="col-md-12 ">
    <div class="col-md-12 d-flex flex-row justify-content-center">
        <h3 class="page_heading pt-5 pb-4">Add new product</h3>
    </div>
    
    <div class="row col-md-12 justify-content-center">
        <div class="col-md-5 shadow product-add-section">
            <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
                <!-- {{ form.as_p }} -->
                {% for field in form %}
                    {% if field.name == 'p_image' %}
                        <div class="form-group">
                            <label for="id_{{ field.name }}">{{ field.label }}:</label>
                            <input type="file" id="id_{{ field.name }}" name="{{ field.name }}" class="form-control">
                        </div>
                    
                    
                    {% elif field.name == 'p_type' %}
                        <div class="form-group">
                            <label for="id_{{ field.name }}">{{ field.label }}:</label>
                            <select type="file" id="id_{{ field.name }}" name="{{ field.name }}" class="form-control">
                                {% for product_type in product_types %}
                                    <option value="{{ product_type.id }}" class="form-control">{{ product_type.type_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% elif field.name == 'brand' %}
                        <div class="form-group">
                            <label for="id_{{ field.name }}">{{ field.label }}:</label>
                            <select type="file" id="id_{{ field.name }}" name="{{ field.name }}" class="form-control">
                                {% for brand in brands %}
                                    <option value="{{ brand.id }}" class="form-control">{{ brand.brand_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% else %}
                    <div class="form-group">
                        <label for="id_{{ field.name }}">{{ field.label }}:
                        {% if field.field.required %}<span class="special_class">*</span>{% endif %}
                        </label>
                        <input id="id_{{ field.name }}" name="{{ field.name }}" class="form-control">
                    </div>
                    {% endif %}
                {% endfor %}
                <div class="form-group justify-content-center mt-5">
                    <button type="submit"  class="btn btn-info col-md-5">Create Product</button>
                </div>
                
            </form>
        </div>

    </div>
    
</div>
{% endblock %}