{% extends 'admin_base.html' %}
{% block title %}
    Modern Shop
{% endblock %}

{% block content %}

<h1>Add product Type</h1>

<form method="POST"> {% csrf_token %}
{{ form.as_p }}
<input type="submit", value="save" />
</form>
{% endblock %}