{% extends 'admin_base.html' %}
{% block title %}
    Modern Shop
{% endblock %}

{% block content %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
  
  
    <!-- Main content -->
    <section class="content">
        <div class="search-filter-section-shop pt-2">
            <div class="product-view">
                <div class="container-fluid">
                    <div class="row product-list-section justify-content-center">
                        <div class="col-lg-12 col-md-12 p-1">
                            <div class="row m-0">
                                <div class="col-md-12 product-search-heading">
                                    <h4 class="text-center text-uppercase">All Sell List</h4>
                                </div>
                                <div class="col-lg-12 col-md-12 m-0 shadow mt-2 mb-4">
                                    
                                    <div class="product-view-top">
                                        <form method="get" action="{% url 'shop:filter_sell' %}">
                                        <div class="row">
                                        
                                            <div class="col-md-4">
                                                <div class="product-search justify-content-center row">
                                                    <label class="search_form_shop_account_label">Date </label>
                                                    <input type="date" class="search_form_shop_account_input" value="" name="from_date" placeholder="from">
                                                    <label class="search_form_shop_account_label"> -- </label>
                                                    <input type="date" class="search_form_shop_account_input" value="" name="to_date" placeholder="to">
                                                    
                                                </div>
                                            </div>
                                           
                                            <div class="col-md-4">
                                                <div class="product-search justify-content-center row">
                                                    <label class="search_form_shop_account_label">Monthly </label>
                                                    <select type="" class="search_form_shop_account_input" value="" name="month" placeholder="from">
                                                        <option value="">Of This Year</option>
                                                        <option value="01">January</option>
                                                        <option value="02">February</option>
                                                        <option value="03">March</option>
                                                        <option value="04">April</option>
                                                        <option value="05">May</option>
                                                        <option value="06">June</option>
                                                        <option value="07">July</option>
                                                        <option value="08">Auguest</option>
                                                        <option value="09">September</option>
                                                        <option value="10">October</option>
                                                        <option value="11">November</option>
                                                        <option value="12">December</option>
                                                    </select>
                                                    <label class="search_form_shop_account_label">Yearly </label>
                                                    <select type="" class="search_form_shop_account_input" value="" name="year" placeholder="from">
                                                        <option value="">Select year</option>
                                                        <option value="2021">2021</option>
                                                        <option value="2020">2020</option>
                                                        <option>2019</option>
                                                        <option>2018</option>
                                                    </select>
                                                    
                                                </div>
                                            </div>
                                            <div class="row col-md-4 justify-content-end">
                                                <div class="product-search justify-content-center row">
                                                    <label class="search_form_shop_account_label">Product </label>
                                                    <input class="product-search_form_shop_account_label" type="text" value="" name="product" placeholder="name/ bar-code">
                                                        
                                                  
                                                </div>
                                            </div>
                                            
                                        
                                            
                                        
                                        </div>
                                        <div class="row text-center mt-3" >
                                            <div class="col-12 mt-2">
                                                <button class="btn btn-outline-dark col-md-4 col-lg-4">Search Sell</button>
                                            </div>
                                            
                                        </div>
                                        </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-12 p-0">
            <div class="row col-md-12 p-0 m-0 d-flex flex-row justify-content-center p-0">
                <div class="row col-lg-12 col-md-12 col-sm-12 col-12 justify-content-center p-0">
                    <div class="product-list-table" >
                        <table id="" class="custom-table table table-hover col-auto col-md-12 table-responsive pt-2 table-striped">
                            <thead class="ml-auto">
                                <tr>
                                    <th>S.N.</th>
                                    <th>P Name</th>
                                    <th>Bar code</th>
                                    <th>Image</th>
                                    <th>Buying price</th>
                                    <th>Selling Price</th>
                                    <th>Profit</th>
                                    <th>Selling date</th>
                                </tr>
                            </thead>

                            <tbody class="">
                                {% for sell in all_sell %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ sell.product.name }}</td>
                                    <td>{{ sell.product.bar_code }}</td>
                                    <td>
                                        <img style="height: 30px; width: 30px;" src="{{ sell.product.p_image.url }}" alt="">
                                    </td>
                                    <td>{{ sell.product.buying_price }}</td>
                                    <td>{{ sell.selling_price }}</td>

                                    <td>{{ sell.profit }}</td> 
                                    
                                    <td>{{ sell.created_at }}</td> 

                                </tr>
                                
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>  
    </section>  <!-- /.content -->
</div>  <!-- /.content-wrapper -->



{% endblock %}