{% extends 'admin_base.html' %}
{% block title %}
    Modern Shop
{% endblock %}

{% block content %}
<div class="col-md-12 ">
    <div class="col-md-12 d-flex flex-row justify-content-center">
        <h3 class="page_heading pt-5 pb-4">Edit product ({{ this_product.name }})</h3>
    </div>
    
    <div class="row col-md-12 justify-content-center">
        <div class="col-md-5 shadow product-add-section">
            <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
                <!-- {{ form.as_p }} -->
                
                        <div class="form-group">
                            <label>P Type:</label>
                            <select type="" id="" name="type" class="form-control">
                                {% for product_type in product_types %}
                                    <option value="{{ product_type.id }}" class="form-control">{{ product_type.type_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    
                        <div class="form-group">
                            <label>Brand:</label>
                            <select type="" id="" name="brand" class="form-control">
                                {% for brand in brands %}
                                    <option value="{{ brand.id }}" class="form-control">{{ brand.brand_name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Name:</label>
                            <input type="text" id="" name="name" class="form-control" value="{{ this_product.name }}">
                        </div>
                    
                        <div class="form-group">
                            <label>description:</label>
                            <input type="text" id="" name="description" class="form-control" value="{{ this_product.description }}">
                        </div>

                        <div class="form-group">
                            <label>Image:</label>
                            <input id="" type="file" name="image" class="form-control" value="{{ this_product.p_image }}">
                        </div>

                        <div class="form-group">
                            <label>volume/weight:</label>
                            <input type="text" id="" name="volume_weight" class="form-control" value="{{ this_product.volume_weight }}">
                        </div>

                        <div class="form-group">
                            <label>Buying Price:</label>
                            <input type="text" id="" name="buying_price" class="form-control" value="{{ this_product.buying_price }}">
                        </div>

                        <div class="form-group">
                            <label>Available Quentity:</label>
                            <input type="text" id="" name="availability" class="form-control" value="{{ this_product.available_quantity }}">
                        </div>

                        <div class="form-group">
                            <label>Selling price:</label>
                            <input type="text" id="" name="selling_price" class="form-control" value="{{ this_product.selling_price }}">
                        </div>

                <div class="form-group justify-content-center mt-5">
                    <button type="submit"  class="btn btn-info col-md-5">Edit Product</button>
                </div>
                
            </form>
        </div>

    </div>
    
</div>
{% endblock %}