{% extends 'admin_base.html' %}

{% block title %}
Add New Shop
{% endblock %}

{% block content %}
<div class="">
    <div class="row justify-content-start product-type-brand">
        <div class="product-type-list-add justify-content-start row">
            <div class="product-type-list-add-inner bg-secondary">
                <div class="product-type-list">
                    <h2>All Product Type</h2>
                    
                    {% for product_type in all_product_type %}
                        <div class="row px-5">
                            <p>{{ product_type.type_name }}</p>
                            
                        </div>
                    {% endfor %}
                    
                </div>
        
                <div>
                    <h2>Add product Type</h2>
        
                    <form method="POST"> {% csrf_token %}
                    {{ product_type_form.as_p }}
                    <input type="submit", value="save" />
                    </form>
                </div>
            </div>
        
        </div>
    
        <div class="product-brand-list-add justify-content-end row">
            <div class="product-brand-list-add-inner bg-secondary">
                <div class="product-brand-list">
                    <h2>All Product Brand</h2>
                   
                    {% for brand in all_brand %}
                    <div class="row px-5">
                        <p>{{ brand.brand_name }}</p>
                        
                    </div>
                    {% endfor %}
                   
                </div>
        
                <div>
                    <h2>Add New Brand</h2>
        
                    <form method="POST"> {% csrf_token %}
                        {{ product_brand_form.as_p }}
                        <input type="submit", value="save" />
                    </form>
                </div>
            </div>
        
        </div>
    
    </div>
</div>


{% endblock %}