{% extends 'admin_base.html' %}
{% block title %}
    Modern Shop
{% endblock %}

{% block content %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
  
  
    <!-- Main content -->
    <section class="content">
        <div class="search-filter-section-shop pt-2">
            <div class="product-view">
                <div class="container-fluid">
                    <div class="row product-list-section justify-content-center">
                        <div class="col-lg-12 col-md-12 p-1">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 p-0">
                                    <div class="product-view-top">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="product-search">
                                                    <form method="get" action="{% url 'shop:search_self_store' %}">
                                                        <input type="text" value="" name="product_search_parameter" placeholder="Bar-code/ Name/ Type/ Brand">
                                                        <button type="submit"><i class="fa fa-search" ></i></button>
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="product-search">
                                                    <select>
                                                        <option class="dropdown-toggle" data-toggle="dropdown">Product short by</option>
                                                        <option href="#" class="dropdown-item">Newest</option>
                                                        <option href="#" class="dropdown-item">Type</option>
                                                        <option href="#" class="dropdown-item">Brand</option>
                                                        <option href="#" class="dropdown-item">Availability</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="product-search">
                                                    <select class="dropdown">
                                                        <option href="#" class="dropdown-item">Active</option>
                                                        <option href="#" class="dropdown-item">Deactivate</option>
                                                        
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 product-search-heading">
            <h4 class="text-center text-uppercase">All Product List</h4>
        </div>
        <div class="col-12 p-0">
            <div class="row col-md-12 p-0 m-0 d-flex flex-row justify-content-center">
                <div class="row col-lg-12 col-md-12 col-sm-12 col-12 justify-content-center p-0">
                    <div class="product-list-table" >
                        <table id="product_list" class="table table-hover col-auto col-md-12 table-responsive pt-2 table-striped">
                            <thead class="ml-auto">
                                <tr>
                                    <th>S.N.</th>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Brand</th>
                                    <th>Description</th>
                                    <th>Image</th>
                                    <th>Volume/Weight</th>
                                    <th>Availability</th>
                                    <th>Buying price</th>
                                    <th>Selling Price</th>
                                    <th>Bar code</th>
                                    <th>Updated at</th>
                                    <th>Actions</th>
                                    
                                </tr>
                            </thead>

                            <tbody class="">
                                {% for product in all_products %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ product.name }}</td>
                                    <td>{{ product.p_type }}</td>
                                    <td>{{ product.brand }}</td>
                                    <td>{{ product.description }}</td>
                                    <td>
                                        <img style="height: 30px; width: 30px;" src="{{ product.p_image.url }}" alt="">
                                    </td>
                                    <td>{{ product.volume_weight }}</td>
                                    <td id="product_row{{ product.id }}">{{ product.available_quantity }}
                                        <button class="btn btn-outline-secondary  py-0 px-1">
                                            <i class="fa fa-edit" style="color: black;"></i>
                                        </button>
                                    </td>
                                    <td>{{ product.buying_price }}
                                        <button class="btn btn-outline-secondary  py-0 px-1">
                                            <i class="fa fa-edit" style="color: black;"></i>
                                        </button>
                                    </td>
                                    <td>{{ product.selling_price }}
                                        <button class="btn btn-outline-secondary   py-0 px-1">
                                            <i class="fa fa-edit" style="color: black;"></i>
                                        </button>
                                    </td>
                                    <td>{{ product.bar_code }}</td>
                                    <td>{{ product.updated_at }}</td>
                                    <td >
                                        <div id="sell_options{{product.id}}">
                                            <a type="button"   class="btn btn-outline-secondary  py-0 px-2" onclick="showSellConfirmButtons('{{ product.id }}')">
                                                <i class="fa fa-shopping-cart"></i>
                                            </a>
                                            <a type="button" class="btn btn-outline-secondary  py-0 px-2" onclick="showSellAndPrintConfirmButtons('{{ product.id }}')">
                                                <i class="fa fa-print"></i>
                                            </a>
                                            <a type="button" class="btn btn-outline-secondary  py-0 px-2" onclick="showDisableConfirmButtons('{{ product.id }}')">
                                                <i class="fa fa-ban"></i>
                                            </a>

                                        </div>
                                        
                                        <div id="sell{{product.id}}" style="display: none;">
                                            
                                            <input class="product_quantity_input" id="product_quantity_input{{ product.id }}" type="number" name="product_quantity" value="" min="0" max="{{ product.available_quantity }}" onchange="">
                                            
                                            <button class="btn btn-primary py-0 px-2" onclick="confirmSell('{{ product.id }}')"><i class="fa fa-check"></i></button>
                                            <button class="btn btn-danger py-0 px-2" onclick="cancelSellChange('{{ product.id }}')"><i class="fa fa-times"></i></button>
                                        </div>

                                        <div id="sell_print{{product.id}}" style="display: none;">
                                            <button class="btn btn-primary  py-0 px-2" onclick="confirmSell('{{ product.id }}')"><i class="fa fa-check"></i></button>
                                            <button class="btn btn-danger  py-0 px-2" onclick="cancelSellPrintChange('{{ product.id }}')"><i class="fa fa-times"></i></button>
                                        </div>

                                        <div id="disable{{product.id}}" style="display: none;">
                                            <button class="btn btn-primary  py-0 px-2" onclick="confirmSell('{{ product.id }}')"><i class="fa fa-check"></i></button>
                                            <button class="btn btn-danger  py-0 px-2" onclick="canceldisableChange('{{ product.id }}')"><i class="fa fa-times"></i></button>
                                        </div>
                                    </td>
                                    
                                </tr>
                                
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>  
    </section>  <!-- /.content -->
</div>  <!-- /.content-wrapper -->



{% endblock %}