{% load static %}
{% load custom_tags %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
    href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet"
        href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}">
    <!-- Google fonts - Roboto for copy, Montserrat for headings-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <!-- owl carousel-->
    <link rel="stylesheet"
        href="{% static 'vendor/owl.carousel/assets/owl.carousel.css' %}">
    <link rel="stylesheet"
        href="{% static 'vendor/owl.carousel/assets/owl.theme.default.css' %}">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="{% static 'css/style.default.css' %}"
        id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

<title>{% block title %}Title here {% endblock %}</title>
  </head>
  <body class="font-family-sans-serif">
    <nav class="navbar navbar-expand-lg navbar-dark p-0">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="{% url 'all_products' %}">MODERN</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          
          <li class="nav-item">
            <a class="nav-link" href="{% url 'all_products' %}">+8801986395483</a>
          </li>
          
          
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons d-flex flex-row justify-content-start">
                    
          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle  login_link" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
              <i class='fas fa-user-alt' style='font-size:18px;color:rgb(236, 236, 236)'></i>
              {{ request.user.first_name }}        
            <span class="sr-only">(current)</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'account:logout' %}" class="">
                 Log out
              </a>
          </li>
          
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
      </div>
    </nav>

    <nav class="second-navebar navbar-expand-lg navbar-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse pt-4" id="navbarTogglerDemo01">
        
        <ul class="navbar-nav mr-auto mt-2">
          <li class="shop-second-nav-item nav-item">
            <a class="nav-link" href="{% url 'shop:my_shop' %}">My Shop <span class="sr-only">(current)</span></a>
          </li>
          
          <li class="shop-second-nav-item nav-item">
            <a class="nav-link" href="{% url 'shop:add_type_brand' %}">Dashboard</a>
          </li>
          <li class="shop-second-nav-item nav-item">
            <a class="nav-link" href="{% url 'shop:add_product' %}">Add Product</a>
          </li>
          <li class="shop-second-nav-item nav-item">
            <a class="nav-link" href="{% url 'shop:add_excel' %}">Add with Excel</a>
          </li>
          <li class="shop-second-nav-item nav-item">
            <a class="nav-link" href="{% url 'shop:store' %}">Store</a>
          </li>
          <li class="shop-second-nav-item nav-item">
            <a class="nav-link" href="{% url 'shop:all_sell' %}">Accounts</a>
          </li>
          
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons d-flex flex-row justify-content-start">
                    
          
          
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
      </div>
    </nav>

    {% block content %}

    replace me

    {% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <script type="text/javascript">

      // if user clicks on the checkbox
      const showSellConfirmButtons = (id) => {
        console.log(id)
        $('#sell_options'+id).hide(); // hide the buttons
        $("#sell"+id).css("display", "block"); // view the buttons
    
      }

      const showSellAndPrintConfirmButtons = (id) => {
        console.log(id)
        $('#sell_options'+id).hide(); // hide the buttons
        $("#sell_print"+id).css("display", "block"); // view the buttons
    
      }

      const showDisableConfirmButtons = (id) => {
        console.log(id)
        $('#sell_options'+id).hide(); // hide the buttons
        $("#disable"+id).css("display", "block"); // view the buttons
    
      }

      const confirmSell = (id) => {

        let product_quantity = document.getElementById("product_quantity_input"+id).value;

        console.log(product_quantity)

        $.ajax({
          url: '/shop/sell/sellProduct/',
          type: 'GET',
          data: {
            'id': id, //pass the id to use in the backend
            'quantity': product_quantity,
          },        
        })
        .done(function(response){
          
          $('#sell'+id).hide()
          $('#sell_options'+id).css('display', "block")
          $('#sell_options'+id).show()
          window.location.reload(false); 
          // console.log('product_row'+response)
        })
        

      }

    // if user presses the No button
    const cancelSellChange = (id) => {
      console.log(id)
      $('#sell'+id).hide(); // hide the buttons
      $("#sell_options"+id).css("display", "block"); // view the checkbox
    }

    const cancelSellPrintChange = (id) => {
      console.log(id)
      $('#sell_print'+id).hide(); // hide the buttons
      $("#sell_options"+id).css("display", "block"); // view the checkbox
    }

    const canceldisableChange = (id) => {
      console.log(id)
      $('#disable'+id).hide(); // hide the buttons
      $("#sell_options"+id).css("display", "block"); // view the checkbox
    }
    </script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>